body {
    position: absolute;
    left: 38%;
}

.container {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 50px 30px;
}

.input, .select {
    margin: 10px 0;
    width: 100%;
}

.input {
    background-color: #ededed;
    padding: 8px 10px;
    border-radius: 5px;
}

.btn {
    background-color: cornflowerblue;
    color: #fff;
    height: 30px;
    border-radius: 15px;
    margin-top: 10px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.danger {
    background-color: indianred;
}

.btn:hover {
    background-color: cornflowerblue;
}

.danger:hover {
    background-color: indianred;
}

.boldtext {
    font-weight: bold;
}

.smalltext {
    color: rgb(80, 80, 80);
    font-size: small;
}

.largeText {
    font-size: large;
}

.text {
    margin: 10px 0;
}

.formContainer {
    display: flex;
    justify-content: center;
}

.formContainer > .card {
    min-width: 300px;
}
